@namespace Misbah.Web.Components.Pages.Notes
@using Misbah.Core.Models
@using Misbah.Web.Resources
@inject Misbah.Core.Services.IFolderService FolderService

@code {
    [Parameter] public string? RootPath { get; set; }
    [Parameter] public EventCallback<string> OnNoteSelected { get; set; }
    private FolderNode? _rootFolder;
    private static HashSet<string> _expandedFolders = new();

protected override void OnParametersSet()
{
    if (!string.IsNullOrEmpty(RootPath))
    {
        _rootFolder = FolderService.LoadFolderTree(RootPath);
        if (_expandedFolders.Count == 0 && _rootFolder != null)
            _expandedFolders.Add(_rootFolder.Path);
    }
}

    void ToggleFolder(string path)
    {
        if (_expandedFolders.Contains(path))
            _expandedFolders.Remove(path);
        else
            _expandedFolders.Add(path);
    }

    private RenderFragment RenderFolder(FolderNode folder)
    {
        // Hide dot folders
        if (!string.IsNullOrEmpty(folder.Name) && folder.Name.StartsWith("."))
            return builder => { };

        return builder =>
        {
            int seq = 0;
            builder.OpenElement(seq++, "li");
            var childFolders = folder.Folders ?? new List<FolderNode>();
            var childNotes = folder.Notes ?? new List<Note>();

            // Folder label row (toggle + icons + name)
            builder.OpenElement(seq++, "div");
            builder.AddAttribute(seq++, "class", "folder-label");
            builder.AddAttribute(seq++, "onclick", EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this, () => OnFolderClicked(folder.Path)));

            var isExpanded = _expandedFolders.Contains(folder.Path);
            var hasChildren = childFolders.Any() || childNotes.Any();

            builder.OpenElement(seq++, "span");
            builder.AddAttribute(seq++, "class", hasChildren ? "expand-toggle-symbol" : "expand-toggle-spacer");
            builder.AddAttribute(seq++, "aria-hidden", "true");
            if (hasChildren)
            {
                builder.AddContent(seq++, isExpanded ? "-" : "+");
            }
            builder.CloseElement();

            // FontAwesome expand/collapse icon
            if (isExpanded)
            {
                builder.OpenElement(seq++, "i");
                builder.AddAttribute(seq++, "class", "fa fa-chevron-down fa-fw");
                builder.CloseElement();
                // Open folder icon (yellow)
                builder.OpenElement(seq++, "i");
                builder.AddAttribute(seq++, "class", "fa fa-folder-open fa-fw");
                builder.AddAttribute(seq++, "style", "color:var(--primary-color)");
                builder.CloseElement();
            }
            else
            {
                builder.OpenElement(seq++, "i");
                builder.AddAttribute(seq++, "class", "fa fa-chevron-right fa-fw");
                builder.CloseElement();
                // Closed folder icon (yellow)
                builder.OpenElement(seq++, "i");
                builder.AddAttribute(seq++, "class", "fa fa-folder fa-fw");
                builder.AddAttribute(seq++, "style", "color:var(--primary-color)");
                builder.CloseElement();
            }
            builder.AddContent(seq++, " ");
            builder.AddContent(seq++, folder.Name);
            builder.CloseElement();

            if (isExpanded)
            {
                builder.OpenElement(seq++, "ul");
                foreach (var sub in childFolders)
                {
                    builder.AddContent(seq++, RenderFolder(sub));
                }
                foreach (var note in childNotes)
                {
                    builder.AddContent(seq++, RenderNote(note));
                }
                builder.CloseElement();
            }
            builder.CloseElement();
        };
    }

    private RenderFragment RenderNote(Note note)
    {
        return builder =>
        {
            int seq = 0;
            builder.OpenElement(seq++, "li");
            builder.AddAttribute(seq++, "class", "note-leaf");
            builder.AddAttribute(seq++, "onclick", EventCallback.Factory.Create<Microsoft.AspNetCore.Components.Web.MouseEventArgs>(this, async () => await OnNoteClicked(note.Id)));
            // File icon instead of bullet point
            builder.OpenElement(seq++, "i");
            builder.AddAttribute(seq++, "class", "fa fa-file-text fa-fw");
            builder.AddAttribute(seq++, "style", "color:#666;margin-right:0.5em;");
            builder.CloseElement();
            builder.AddContent(seq++, " ");
            builder.AddContent(seq++, note.Title);
            builder.CloseElement();
        };
    }

    private void OnFolderClicked(string path)
    {
        ToggleFolder(path);
        StateHasChanged();
    }

    private async Task OnNoteClicked(string noteId)
    {
        await OnNoteSelected.InvokeAsync(noteId);
    }
}

@if (_rootFolder != null)
{
    <div class="folder-tree">
        <ul>
            @RenderFolder(_rootFolder)
        </ul>
    </div>
}
else
{
    <div class="folder-tree"><em>@AppStrings.NoFoldersFound</em></div>
}


