@namespace Misbah.Android.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using Misbah.Android.Components
@using Misbah.Android.Components.Layout
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
