@namespace Misbah.UI.Components
@code {
    [Parameter] public EventCallback<string> OnLibraryPicked { get; set; }

    private async Task PickLibrary()
    {
        // Use static helper to show dialog on UI thread
        var folder = Misbah.UI.FolderDialogHelper.ShowFolderDialog();
        if (!string.IsNullOrEmpty(folder))
        {
            await OnLibraryPicked.InvokeAsync(folder);
        }
    }
}

@using Misbah.UI.Resources
<div style="text-align:center;">
    <h2>@AppStrings.NoLibraryLoaded</h2>
    <button class="btn btn-primary" @onclick="PickLibrary">@AppStrings.LoadLibrary</button>
    <div style="margin-top:1em;">
        <a href="https://github.com/blueheron786/misbah" target="_blank">@AppStrings.GitHubRepo</a>
    </div>
</div>
